<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <h1 class="home-title">JELLY <span class="home-span"> BOOM</span></h1>
        <p class="home-text">Seriously, nothing sits still in this game - everything's constantly bouncing and wobbling around.</p>
        <img class="home-img" src="/img/hero/mob.png" alt="Game" loading="lazy">
        <p class="home-text-two">Okay, so picture this - literally everything in the game just won't sit still. It's all wobbling and bouncing around
        like crazy.<br/>Jelly Boom drops you into a playful universe ruled by four tiny jellies who love motion, color, and chain
        reactions. Every action sends ripples across the board. The longer the flow continues, the stronger the jelly energy
        becomes.</p>
        <a class="home-link" href="#demo">
            <p>Enter the Jelly World</p>
        </a>
    </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <div class="disclaimer-wrapper">
            <h2 class="disclaimer-title">DISCLAIMER</h2>
            <p class="disclaimer-text">arcexa.com IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF
            REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
        </div>
    </div>
</section>