.home-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.home-title{
    font-family: "Rubik Spray Paint", sans-serif;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        background: linear-gradient(180deg, #fe7bff 0%, #e028a3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 2px 2px 0 rgba(54, 22, 122, 0.3);
}
.home-span{
    font-family: "Rubik Spray Paint", sans-serif;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        background: linear-gradient(180deg, #d2ecf8 0%, #0e82fd 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 2px 2px 0 rgba(54, 22, 122, 0.3);
}
.home-text{
    font-family: "Grandstander", sans-serif;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.41;
        text-align: center;
        color: #fafafa;
}
.home-text-two{
    font-size: 14px;
}
.home-link{
  margin-top: 6px;
}
@media only screen and (min-width: 1440px) {
  .home-img{
    display: none;
  }
  .home-section{
    background-image: url("/img/hero/desk.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .home-container{
    padding-top: 104px;
    padding-bottom: 92px;
  }
  .home-wrapper{
    margin-right: 0;
    margin-left: auto;
        width: 424px;
        gap: 32px;
  }
  .home-title{
    font-size: 64px;
  }
  .home-span{
    font-size: 64px;
  }
  .home-text{
    font-size: 24px;
  }
  .home-text-two{
font-weight: 500;
    font-size: 16px;
    width: 408px;
  }
}
/* Disclaimer */
.disclaimer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.disclaimer-title{
    font-family: "Grandstander", sans-serif;
        font-weight: 800;
        font-size: 24px;
        text-transform: uppercase;
        color: #fafafa;
}
.disclaimer-text{
    font-family: "Prompt", sans-serif;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: #fafafa;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-container{
    padding-left: 189px;
    padding-right: 189px;
  }
  .disclaimer-wrapper{
    flex-direction: row;
    gap: 48px;
  }
.disclaimer-text{
    text-align: left;
    width: 785px;
}
}
/* Jelly */
.jelly-section{
    background: linear-gradient(180deg, #36167a 0%, #68d0e3 100%);
}
.jelly-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
@media only screen and (min-width: 1440px) {
  .jelly-img{
    margin-top: 16px;
width: 1280px;
    height: 673px;
  }
}
/* Meet The Jellies */
.four-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four-text{
    margin-top: 24px;
    margin-bottom: 32px;
    width: 303px;
}
.four-list{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.four-item{
    width: 163px;
        height: 74px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
}
.four-title-item{
    font-family: "Grandstander", sans-serif;
        font-weight: 800;
        font-size: 24px;
        text-align: center;    
}
.four-title-item-one{
        color: #f53ca2;
}
.four-title-item-two{
    color: #68d0e3;
}
.four-title-item-three{
    color: #ffa328;
}
.four-title-item-four{
    color: #03c65c;
}
.four-text-item{
    font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .mob{
    display: none;
  }
  .four-text{
    width: 628px;
  }
  .four-list{
    gap: 24px;
  }
  .four-item{
    width: 200px;
        height: 80px;
  }
  .four-text-item{
    font-size: 16px;
  }
}
/* Game */
.game-section{
    background: linear-gradient(180deg, #36167a 0%, #68d0e3 100%);
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px
}
.game-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.game-text{
 width: 327px;
}
@media only screen and (min-width: 1440px) {
  .game-container{
    flex-direction: row;
    width: 989px;
        height: 215px;
        margin-left: auto;
        margin-right: auto;
  }
  .game-wrapper{
    width: 709px;
    align-items: start;
  }
  .game-text{
    text-align: left;
    width: 693px;
  }
}
/* Power */
.power-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.power-subtitle{
  width: 313px;
}
.power-text{
width: 313px;
}
.desk{
  display: none;
}
@media only screen and (min-width: 1440px) {
  .power-subtitle{
    width: 784px;
  }
  .power-text{
    width: 784px;
  }
  .desk{
    display: block;
  }
}
/* energy */
.energy-section{
  background: linear-gradient(180deg, #36167a 0%, #68d0e3 100%);
}
.energy-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.energy-img{
  margin-top: 8px;
}
@media only screen and (min-width: 1440px) {
  .energy-text{
    width: 784px;
  }
  .energy-img{
    margin-top: 16px;
    width: 1280px;
      height: 720px;
  }
}
/* multiplier Flow */
.multiplier-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.multiplier-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
  .multiplier-container{
    flex-direction: row;
    gap: 48px;
    width: 947px;
      height: 229px;
         margin-left: auto;
      margin-right: auto;   
  }
  .multiplier-wrapper{
    width: 588px;
      height: 160px;
      align-items: start;

  }
  .multiplier-text{
    text-align: left;
  }
}
/* Why It Stands Out */
.why-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.why-list{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.why-item{
  border-radius: 16px;
    padding: 16px 46px;
    width: 323px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-item-one{
  background: #6737cc;
}
.why-item-two{
  background: #aa29aa;
}
.why-item-three{
  background: #df7511;
}
.why-item-four{
  background: #04a13d;
}
.why-item-five{
  background: #6a0785;
}
@media only screen and (min-width: 1440px) {
  .why-list{
    margin-top: 8px;
    flex-direction: row;
    width: 1110px;
      height: 104px;
      justify-content: center;
      gap: 27px;
  }
  .why-item{
    border-radius: 16px;
      padding: 16px;
      width: 200px;
      height: 104px;
  }
}
/* Demo */
.demo-section {
background: linear-gradient(180deg, #36167a 0%, #68d0e3 100%);}

.demo-container {
  position: relative;
}
.play-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.demo-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 24px auto 0;
  height: 622px;
}

.game-img {
width: 323px;
  height: 622px;
}

/* ===== КНОПКА ===== */

.demo-btn {
  position: absolute;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  top: 80%;
  left: 50%;
border: 1px solid rgba(3, 91, 178, 0.4);
  border-radius: 24px;
  width: 240px;
  height: 56px;
  box-shadow: 0 2px 2px 0 rgba(54, 22, 122, 0.5);
    background: linear-gradient(180deg, #68d0e3 0%, #035bb2 100%);
border: none;
padding: 17px 38px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;


}
.demo-btn:hover{
scale: 1.1;
left: 53%;
}
/* ===== ФОН ===== */

.game-img {
  width: 100%;
  display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
  position: absolute;
  top: 3%;
  left: 40%;
  transform: translateX(-48%);
  width: 68%;
  height: 54%;
  z-index: 20;

  /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
  pointer-events: none;
}

#gameIframe {
  width: 125%;
  height: 174%;
  border: none;
  display: none;
  background: #000;
  border-radius: 30px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
  pointer-events: auto;
}

#gameIframe.active {
  display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
  position: absolute;
  top: 20px;
  right: -50px;

  background: none;
  border: none;
  cursor: pointer;

  display: none;

  z-index: 9999;
  /* 🔥 НАД iframe */
  pointer-events: auto;
}

#closeIframeBtn.active {
  display: block;
}

.close-img {
  width: 24px;
  height: 24px;

}
@media only screen and (min-width: 1440px) {
  .demo-wrapper {
      position: relative;
      max-width: 1200px;
      margin: 24px auto 0;
      height: 682px;
    }
  
    .game-img {
width: 942px;
  height: 682px;
  margin-left: auto;
  margin-right: auto;
    }
        .iframe-wrapper {
          position: absolute;
          top: 5%;
          left: 46%;
          transform: translateX(-48%);
          width: 68%;
          height: 54%;
          z-index: 20;
    
          /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
          pointer-events: none;
        }
    
        #gameIframe {
          width: 107%;
          height: 166%;
          border: none;
          display: none;
          background: #000;
          border-radius: 20px;
        }
}